<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--SINGLE MESSAGE DIRECTORY MODAL-->
<div class="modal fade" id="foxDirectoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="foxDirectoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h5 class="modal-title" id="foxDirectoryModalLabel">FOX-Directory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="directory-content {{user.theme.theme_font}}">
                    <label for="directory-type">Directory Type :</label>
                    <select id="directory-type">
                        <option value="internal" selected>Internal</option>
                        <option value="external">External</option>
                    </select>
                    <input type="text" placeholder="Search..." class="search-bar" id="searchBar">
                    <div class="directory table-responsive scrollable-modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th>NAME</th>
                                    <th>MOBILE</th>
                                    <th>EMAIL</th>
                                </tr>
                            </thead>
                            <tbody id="directoryTable">
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="send-btn" data-bs-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--MULTI MESSAGE DIRECTORY MODAL-->
<div class="modal fade" id="multi_foxDirectoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="multi_foxDirectoryModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h5 class="modal-title" id="multi_foxDirectoryModalLabel">FOX-Directory</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="directory-content {{user.theme.theme_font}}">
                    <label for="directory-type">Directory Type :</label>
                    <select id="mdirectory-type">
                        <option value="internal" selected>Internal</option>
                        <option value="external">External</option>
                    </select>
                    <input type="text" placeholder="Search..." class="search-bar" id="msearchBar">
                    <div class="directory table-responsive scrollable-modal-body">
                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th style="width:20px;"></th>
                                    <th class="th_3">NAME</th>
                                    <th class="th_3">MOBILE</th>
                                    <th class="th_3">EMAIL</th>
                                </tr>
                            </thead>
                            <tbody id="mdirectoryTable">
                                  
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="button-group">
                    <button type="submit" class="msend send-btn" data-bs-dismiss="modal" aria-label="Close">Ok</button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->

