<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
{% extends "global_modals/base.html" %}

    {% block title %}
        Home - FO-X NotiFS
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/msgs.css') }}?v=1.0.1">
    {% endblock %}

    {% block content %}
        <div class="row g-0 p-0 m-0 home">
            <div class="col-auto">
            </div>
            <div class="col home">
                <div class="container-fluid main_container">
                    <div class="setting_cont">
                        <button class="btn add_btn" data-bs-toggle="modal" data-bs-target="#info_modal">
                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                alt="info"
                                data-bs-toggle="popover"
                                data-bs-trigger="hover" 
                                data-bs-content="Click here to view system tutorials"
                                style="cursor: pointer;">
                        </button>
                        <button class="btn add_btn" data-bs-toggle="offcanvas" data-bs-target="#staticBackdrop">
                        <img class="setting_icon" src="{{ url_for('static', filename='images/global/themes.webp') }}?v=1.0.1" 
                            alt="theme"
                            data-bs-toggle="popover"
                            data-bs-trigger="hover" 
                            data-bs-content="Click here to change user themes"
                            style="cursor: pointer;">
                    </div>
                    <div class="row first_row {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                        <div class="col">
                            <h2 class="welcome">Welcome <u>{{ first_name}}</u></h2>
                            <h5 class="user-type">you are logged as {{user.role.role_name}} </h5>
                        </div>
                        <div class="col top-col"  data-bs-toggle="popover" data-bs-trigger="hover"  data-bs-content="This are your personal note/s." data-bs-placement="top">
                            <div class="row">
                                <div class="col-3">
                                    <h6>NOTES:</h6>
                                    <div class="service-info">
                                        <button class="btn add_btn"
                                            data-bs-toggle="modal" data-bs-target="#user_notes_edit">
                                            <img class="setting_icon" 
                                                src="{{ url_for('static', filename='images/global/add_icon.webp') }}?v=1.0.1"
                                                alt="roles"
                                                data-bs-toggle="popover"
                                                data-bs-trigger="hover" 
                                                data-bs-content="Click here to add notes"
                                                >
                                        </button>
                                    </div>
                                </div>
                                <div class="col-9 note_area_container">
                                    <div class="note_area">
                                        <pre>{{ user.user_notes }}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col top-col"  data-bs-toggle="popover" data-bs-trigger="hover"  data-bs-content="This are system notice/s." data-bs-placement="top">
                            <div class="row">
                                <div class="col-3">
                                    <h6>NOTICE:</h6>
                                    {% if user.is_authenticated and user.role_id in [1, 3] %}
                                        <div class="service-info">
                                            <button class="btn add_btn"
                                                data-bs-toggle="modal" data-bs-target="#system_notice_edit">
                                                <img class="setting_icon" 
                                                    src="{{ url_for('static', filename='images/global/add_icon.webp') }}?v=1.0.1" 
                                                    alt="roles"
                                                    data-bs-toggle="popover"
                                                    data-bs-trigger="hover" 
                                                    data-bs-content="Click here to add system notice/s"
                                                >
                                            </button>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="col-9 note_area_container">
                                    <div class="notice_area">
                                        <pre>{{ g.sys_settings.system_notice}}</pre>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div>
                        <h4 class="separator">{{ to_block_text("SERVICES") }}</h4>
                    </div>
                    <div class="row second_row">
                        <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                            <div class="row service-row">
                                <div class="col service-col" data-bs-toggle="modal" data-bs-target="#singleMsgModal">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send a single message via sms or email, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Single") }} Contact</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/global/send_single.webp') }}?v=1.0.1">
                                </div>
                                <div class="col service-col" data-bs-toggle="modal" data-bs-target="#multiMsgModal">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send multiple messages via sms or email, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Multi") }} Contacts</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/global/send_multiple.webp') }}?v=1.0.1" alt="roles">
                                </div>
                            </div>
                            <div class="row service-row">
                                <div class="col service-col" data-bs-toggle="modal" data-bs-target="#uploadMsgModal">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send multiple messages via sms or email by uploading a file, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Upload") }} Contacts</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/global/send_upload.webp') }}?v=1.0.1" alt="upload_msg">
                                </div>
                                <div class="col service-col" data-bs-toggle="modal" data-bs-target="#add_msg_temp_display">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <button class="btn add_btn"
                                                {% if user.is_authenticated and user.role_id in [1, 3, 5] %}
                                                    data-bs-toggle="modal" data-bs-target="#addMessageTemplates">
                                                    <img class="setting_icon" src="{{ url_for('static', filename='images/global/add_icon.webp') }}?v=1.0.1" alt="roles">
                                                {% endif %}
                                            </button>
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Message") }} Templates</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/global/message_templates.webp') }}?v=1.0.1" alt="message_temps"alt="upload_msg">
                                </div>
                            </div>
                        </div>

                        <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                            <div class="row service-row">
                                <div class="col msg-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="Open to view User sms transactions. Just click the message icon.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{to_block_text("Texts") }} Logs</h5>
                                        </div>
                                    </div>
                                    <div class="msg-wrapper">
                                        {% if sms_sent != 0 %}
                                            <p class="notifier">{{sms_sent}}</p>
                                        {% endif %}
                                        <img class="msg_icon" src="{{ url_for('static', filename='images/global/msg_sent.webp') }}?v=1.0.1" 
                                        alt="messages"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#sent_display">
                                    </div>
                                </div>
                                <div class="col msg-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/global/info.webp') }}?v=1.0.1" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="Open to view User email transactions. Just click the email icon.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Email") }} Logs</h5>
                                        </div>
                                    </div>
                                    <div class="msg-wrapper">
                                        {% if emails_sent != 0 %}
                                            <p class="notifier">{{emails_sent}}</p>
                                        {% endif %}
                                        <img class="msg_icon" src="{{ url_for('static', filename='images/global/email_sent.webp') }}?v=1.0.1" 
                                        alt="email"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#">
                                    </div>
                                </div>
                            </div>
                            <div class="row service-row temp_table">
                                <div class="col table-col">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="tempname-header">Message Template</th>
                                                <th class="tempcontent-header">Template Content</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            {% for templates in msg_temp_data%}
                                            <tr>
                                                <td class="tempname-column">{{templates.msg_temp_name }}</td>
                                                <td class="tempcontent-column">{{templates.msg_temp_description}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% include "global_modals/theme.html" %}
        {% include "home_modals/msg_modal.html" %}
        {% include "home_modals/loading_upload.html" %}
        {% include "home_modals/results_modals.html" %}
        {% include "home_modals/directory.html" %}
        {% include "home_modals/msg_temp_modal.html" %}
        {% include "home_modals/sent_unsent_modal.html" %}
        {% include "home_modals/home_utils_modal.html" %}   
        {% include "admin_modals/division_modal.html" %}
        {% include "admin_modals/add_modal.html" %}
        
        {% block scripts %}
            <script>
                const singletotalSent = {{ request.args.get('total_sent', 'null') }};
                const singletotalUnsent = {{ request.args.get('total_unsent', 'null') }};
            </script>
            <script>
                const multitotalSent = {{ request.args.get('total_sent', 'null') }};
                const multitotalUnsent = {{ request.args.get('total_unsent', 'null') }};
            </script>
            <script>
                const uploadtotalSent = {{ request.args.get('total_sent', 'null') }};
                const uploadtotalUnsent = {{ request.args.get('total_unsent', 'null') }};
            </script>
           
            <script src="{{ url_for('static', filename='js/messages.js') }}?v=1.0.1"></script>
        {% endblock %}

    {% endblock %}


