<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--SPINNER LOADING MODAL UPLOAD CONTACT MESSAGE-->
<div id="uploadloadingSpinner" class="d-none text-center mt-3">
    <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Processing...</span>
    </div>
    <p class="mt-2">Processing, please wait...</p>
</div>
<!--=============================================================================================================================-->