<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--SEND SINGLE MESSAGE MODAL-->
<div class="modal fade" id="singleMsgModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="singleMsgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header {{user.theme.theme_bg}} {{user.theme.theme_font}} home">
                <h5 class="modal-title" id="singleMsgModalLabel">Send Single Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('notifs.send_single_msg') }}" method="POST" id="send_single_msg">
                    <div class="form-row">
                        <div class="form-group">
                            <label for="sender">SMS Sender</label>
                            <input type="text" id="sender" name="sender" 
                                value="{% if user.full_name %}{{ user.full_name.split(' ')[0].title() }} 
                                            {% if user.full_name.split(' ')|length > 1 and '.' not in user.full_name.split(' ')[1] %}
                                                {{ user.full_name.split(' ')[1].title() }}
                                            {% endif %}
                                        {% endif %}" required>

                        </div> 
                        <div class="form-group">
                            <label for="sending_option">Send Via <span class="required">(required)</span></label>
                            <select id="sending_option" name="sending_option"  required onchange="toggleRequiredFields()">
                                <option value="" disabled selected>SENDING OPTION</option>
                                <option value="sms">SEND SMS</option>
                                <option value="email">SEND EMAIL</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="recipient">Recipient <small>(one word only)</small></label>
                            <div class="input-icon">
                                <span class="form-icon directory-btn">
                                    📞
                                </span>
                                <input type="text" id="recipient" name="recipient" required> 
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone">Phone <small>(09xxxxxxxxx)</small></label>
                            <input type="text" id="phone" name="phone">
                        </div>
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="email" id="email" name="email">
                        </div>
                    </div>
                    <div class="form-row2">
                        <div class="form-group2">
                            <label for="template">Message Template <small>(Optional)</small></label>
                            <select id="template" name="template">
                                <option value="" disabled selected>SELECT TEMPLATE</option>
                                <option>SALARY</option>
                                <option>TEV</option>
                                <option>PREMIUM</option>
                            </select>
                        </div>
                        <div class="form-group2">
                            <label for"message">Message:</label>
                            <div class="textarea-container">
                                <textarea id="message" name="message" required></textarea>
                                <span class="search-icon">🔍</span>
                            </div>
                        </div>
                    </div>                
                    <div class="checkbox-group">
                        <input type="checkbox" id="addName" name="addName" value="on">
                        <label for="addName">Add Name <small>(auto-add recipient's Firstname at the start of the message.)</small></label>
                    </div>
                    
                    <div class="button-group">
                        <button type="submit" class="send-btn">Send</button>
                        <button type="button" class="cancel-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--SEND MULTI MESSAGE MODAL-->
<div class="modal fade" id="multiMsgModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="multiMsgModalModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl">
        <div class="modal-content">
            <div class="modal-header {{user.theme.theme_bg}} {{user.theme.theme_font}} home">
                <h5 class="modal-title" id="multiMsgModalModalLabel">Send Multiple Message</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group">
                            <label for="msender">SMS Sender</label>
                            <input type="text" id="msender" name="msender" 
                                    value="{% if user.full_name %}{{ user.full_name.split(' ')[0].title() }} 
                                                {% if user.full_name.split(' ')|length > 1 and '.' not in user.full_name.split(' ')[1] %}
                                                    {{ user.full_name.split(' ')[1].title() }}
                                                {% endif %}
                                            {% endif %}" required>
                        </div>
                        
                        <div class="form-group">
                            <label for="msending_option">Send Via <span class="required">(required)</span></label>
                            <select id="msending_option" name="msending_option"  required onchange="mtoggleRequiredFields()">
                                <option value="" disabled selected>SENDING OPTION</option>
                                <option value="sms">SEND SMS</option>
                                <option value="email">SEND EMAIL</option>
                            </select>
                        </div>
                    </div>
    
                    <div class="form-row">
                        <div class="form-group">
                            <label for="mrecipient">Recipient <small>(one word only)</small></label>
                            <div class="input-icon">
                                <span class="form-icon multi_directory-btn">
                                    📞
                                </span>
                                <input type="text" id="mrecipient" name="mrecipient">
                            </div>
                        </div>
    
                        <div class="form-group">
                            <label for="mphone">Phone <small>(09xxxxxxxxx)</small></label>
                            <input type="text" id="mphone" name="mphone">
                        </div>
    
                        <div class="form-group">
                            <label for="memail">Email</label>
                            <div class="input-icon">
                                <input type="email" id="memail" name="memail">
                                <span class="form-icon" onclick="addRecipient()">➕</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-row2">
                        <div class="form-group">
                            <label>Message Template <small>(Optional)</small></label>
                            <select>
                                <option value="" disabled selected>SELECT TEMPLATE</option>
                                <option>SALARY</option>
                                <option>TEV</option>
                                <option>PREMIUM</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row2">
                        <div class="form-group2">
                            <label for="mlist">Recipient List:</label>
                            <div class="textarea-container">
                                <textarea id="mlist" name="mlist" required readonly></textarea>
                            </div>
                        </div>
                        <div class="form-group2">
                            <label for="mmessage">Message:</label>
                            <div class="textarea-container">
                                <textarea id="mmessage" name="mmessage" required></textarea>
                                <span class="search-icon">🔍</span>
                            </div>
                        </div>
                    </div>            
                    <div class="checkbox-group">
                        <input type="checkbox" id="maddName" name="maddName" value="on">
                        <label for="maddName">Add Name <small>(auto-add recipient's Firstname at the start of the message.)</small></label>
                    </div>
                    <div class="button-group">
                        <button type="submit" class="send-btn">Send</button>
                        <button type="button" class="cancel-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--SEND UPLOAD MESSAGE MODAL-->
<div class="modal fade" id="uploadMsgModal" tabindex="-1" aria-labelledby="uploadMsgModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header {{user.theme.theme_bg}} {{user.theme.theme_font}} home">
                <h5 class="modal-title" id="uploadMsgModalLabel">Upload Contacts</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-row">
                        <div class="form-group">
                            <label>SMS Sender</label>
                            <input type="text" placeholder="">
                        </div>
                        <div class="form-group">
                            <label>Send Via <span class="required">(required)</span></label>
                            <select>
                                <option>SENDING OPTION</option>
                                <option>SEND SMS</option>
                                <option>SEND EMAIL</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group">
                            <label>Message Template <span class="optional">(Optional)</span></label>
                            <select>
                                <option>SELECT TEMPLATE</option>
                                <option>SALARY</option>
                                <option>TEV</option>
                                <option>PREMIUM</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label>Upload File</label>
                            <div class="file-input">
                                <input type="file">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Message:</label>
                        <textarea></textarea>
                    </div>
                    <div class="button-group">
                        <button class="send-btn">Send</button>
                        <button class="cancel-btn">Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->





