
<link rel="stylesheet" href="{{ url_for('static', filename='css/add_creds.css') }}">

<div class="modal fade" id="itextMoModal" tabindex="-1" aria-labelledby="itextMoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>ITEXMO API <br>  Credentials</h2>
                <button type="button" class="{{user.theme.theme_font}} btn-close close-btn " data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form action="{{ url_for('notifs.register_itexmo') }}" method="POST">
                    <label for="itexmo_name">Api Name</label>
                    <input type="text" id="itexmo_name" name="itexmo_name" required>

                    <label for="itexmo_url">URL</label>
                    <input type="text" id="itexmo_url" name="itexmo_url" required>
                    
                    <label for="itexmo_email">Email</label>
                    <input type="email" id="itexmo_email" name="itexmo_email" required>
                    
                    <div class="row-group">
                        <div class="input-group content">
                            <label for="itexmo_password">Password</label>
                            <input type="password" id="itexmo_password" name="itexmo_password" required>
                        </div>
                        <div class="input-group content">
                            <label for="itexmo_apicode">API Code</label>
                            <input type="text" id="itexmo_apicode" name="itexmo_apicode" required>
                        </div>
                    </div>
                    
                    <label for="itexmo_contenttype">Content-Type</label>
                    <input type="text" id="itexmo_contenttype" name="itexmo_contenttype" required>
                    
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="emailCredsModal" tabindex="-1" aria-labelledby="emailCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>Email Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form action="{{ url_for('notifs.register_email_api') }}" method="POST">ecreds_name
                    <label for="ecreds_name">Name</label>
                    <input type="text" id="ecreds_name" name="ecreds_name" required>

                    <label for="ecreds_email">Email</label>
                    <input type="email" id="ecreds_email" name="ecreds_email" required>

                    <label for="ecreds_sender">Sender</label>
                    <input type="text" id="ecreds_sender" name="ecreds_sender" required>
                    
                    <label for="ecreds_password">Password</label>
                    <input type="password" id="ecreds_password" name="ecreds_password" required>
                    
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="pearsCredsModal" tabindex="-1" aria-labelledby="pearsCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>HRPears API Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form action="{{ url_for('notifs.register_hrpears_api') }}" method="POST">
                    <label for="hrpears_name">Name</label>
                    <input type="text" id="hrpears_name" name="hrpears_name" required>

                    <label for="hrpears_host">Host</label>
                    <input type="text" id="hrpears_host" name="hrpears_host" required>
                    
                    <label for="hrpears_root">Port</label>
                    <input type="text" id="hrpears_root" name="hrpears_root" required>
                    
                    <div class="row-group">
                        <div class="input-group">
                            <label for="hrpears_user">User</label>
                            <input type="text" id="hrpears_user" name="hrpears_user" required>
                        </div>
                        <div class="input-group">
                            <label for="hrpears_password">Password</label>
                            <input type="password" id="hrpears_password" name="hrpears_password" required>
                        </div>
                    </div>
                    
                    <label for="hrpears_dbname">DB Name</label>
                    <input type="text" id="hrpears_dbname" name="hrpears_dbname" required>
        
                    <label for="hrpears_table">Table Name</label>
                    <input type="text" id="hrpears_table" name="hrpears_table" required>
                    
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="loginCredsModal" tabindex="-1" aria-labelledby="loginCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>Login API Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body ">
                <form action="{{ url_for('notifs.register_login_api') }}" method="POST">
                    <label for="login_api_name">Name</label>
                    <input type="text" id="login_api_name" name="login_api_name" required>

                    <label for="login_api_url">URL</label>
                    <input type="text" id="login_api_url" name="login_api_url" required>
                    
                    <label for="login_api_token">Token</label>
                    <input type="text" id="login_api_token" name="login_api_token" required>
                    
                    <label for="login_api_content_type">Content-Type</label>
                    <input type="text" id="login_api_content_type" name="login_api_content_type" required>
                    
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>Add User</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('notifs.register_user') }}" method="POST">
                    <label for="full_name">Full Name <p class="required-text">( required* )</p></label>
                    <input type="text" id="full_name" name="full_name" required>

                    <div class="row-group">
                        <div class="input-group">
                            <label for="username">Username <p class="required-text">( required* )</p></label>
                            <input type="text" id="username" name="username"  required>
                        </div>

                        <div class="input-group">
                            <label for="role_id">Role <p class="required-text">( required* )</p></label>
                            <select id="role_id" name="role_id"  required>
                                <option value="" disabled selected>Select a role</option>
                                {% for role in role_data %}
                                    <option value="{{ role.role_id }}">{{ role.role_name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>

                    <label for="division">Division <p class="required-text">( required* )</p></label>
                    <input type="text" id="division" name="division" required>

                    <button type="submit" class="btn submit-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addRoleModal" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>Add User Type</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('notifs.register_role') }}" method="POST">
                    <label for="role_name">User Type <p class="required-text">( required* )</p></label>
                    <input type="text" id="role_name" name="role_name" required>

                    <label for="role_description">Description <p class="required-text">( required* )</p></label>
                    <input type="text" id="role_description" name="role_description" required>

                    <button type="submit" class="btn submit-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="addDivisionModal" tabindex="-1" aria-labelledby="addDivisionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h2>Add User Division</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="{{ url_for('notifs.register_division') }}" method="POST">
                    <label for="division_name">Division <p class="required-text">( required* )</p></label>
                    <input type="text" id="division_name" name="division_name" required>

                    <label for="division_description">Description <p class="required-text">( required* )</p></label>
                    <input type="text" id="division_description" name="division_description" required>

                    <button type="submit" class="btn submit-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>