<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}
            Dashboard - FO-X NotiFS
            {% endblock %}
        </title>
        {% assets "css_all" %}
            <link rel="stylesheet" href="{{ ASSET_URL }}?v=1.0.2">
        {% endassets %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}?v=1.0.2">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}?v=1.0.2">
        {% block css %}
        {% endblock %}
    </head>

    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}
        <div class="row g-0 p-0 m-0">
            <div class="col-auto base">
                {% include 'side_nav.html' %}
            </div>
            <div class="col base">
                <div class="topbar d-flex {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    <p class="title mb-0">{{g.sys_settings.sys_app_name}}</p>
                    <div class="support-contact">
                        <img class="support_icon" src="{{ url_for('static', filename='images/global/contact.webp') }}?v=1.0.2" alt="text">
                        {{g.sys_settings.sys_app_phone}}
                    </div>
                    <div class="support-email">
                        <img class="support_icon" src="{{ url_for('static', filename='images/global/email.webp') }}?v=1.0.2" alt="text">
                        <u>{{g.sys_settings.sys_app_email}}</u>
                    </div>

                    <div class="logout">
                        <a href="{{ url_for('notifs.logout') }}" class="text-white">
                            <img class="logout_icon" src="{{ url_for('static', filename='images/global/logout.webp') }}?v=1.0.2" alt="logout">
                        </a>
                    </div>
                </div>
                <div class="content p-3">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='js/chart.umd.min.js') }}?v=1.0.2"></script>
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}?v=1.0.2"></script>
        {% endassets %}
    </body>

</html>
