<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--THEME OPTIONS-->
<div class="offcanvas offcanvas-end " tabindex="-1" id="staticBackdrop" aria-labelledby="staticBackdropLabel">
    <div class="offcanvas-header {{user.theme.theme_bg}} {{user.theme.theme_font}}">
      <h5 class="offcanvas-title" id="staticBackdropLabel">User Themes</h5>
      <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <form id="themeForm" method="POST">
            <input type="hidden" id="theme_id" name="theme_id">
        </form>
        <div class="default-btn-container">
            <div class="theme-content">
                <div class="theme-info">
                    <img class="theme_info" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                        alt="settings"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Default theme , a match of light and dark blue shade.">
                </div>
                <div class="theme-btn">
                    <button type="submit" class="submit-btn" data-theme-id="1">
                        {{ "Active" if user.theme.theme_name == "Default" else "Activate" }}
                    </button>
                </div>
            </div>
        </div>

        <div class="dark-btn-container">
            <div class="theme-content">
                <div class="theme-info">
                    <img class="theme_info" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                        alt="settings"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Dark theme , a match of Black and white shades.">
                </div>
                <div class="theme-btn">
                    <button type="submit" class="submit-btn" data-theme-id="3">
                        {{ "Active" if user.theme.theme_name == "Dark" else "Activate" }}
                    </button>
                </div>
            </div>
        </div>

        <div class="light-btn-container">
            <div class="theme-content">
                <div class="theme-info">
                    <img class="theme_info" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                        alt="settings"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Light theme , a match of Light gray and dark shades.">
                </div>
                <div class="theme-btn">
                    <button type="submit" class="submit-btn" data-theme-id="4">
                        {{ "Active" if user.theme.theme_name == "Light" else "Activate" }}
                    </button>
                </div>
            </div>
        </div>

        <div class="floralY-btn-container">
            <div class="theme-content">
                <div class="theme-info">
                    <img class="theme_info" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                        alt="settings"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Light theme , a match of Yellow and Dark Brown shades with elegant floral background.">
                </div>
                <div class="theme-btn">
                    <button type="submit" class="submit-btn" data-theme-id="2">
                        {{ "Active" if user.theme.theme_name == "Floral (Yellow)" else "Activate" }}
                    </button>
                </div>
            </div>
        </div>

        <div class="matrix-btn-container">
            <div class="theme-content">
                <div class="theme-info">
                    <img class="theme_info" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                        alt="settings"
                        data-bs-toggle="popover"
                        data-bs-placement="top"
                        data-bs-content="Light theme , a match of Dark and Dark Green shades with tech style background.">
                </div>
                <div class="theme-btn">
                    <button type="submit" class="submit-btn" data-theme-id="5">
                        {{ "Active" if user.theme.theme_name == "Matrix" else "Activate" }}
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->