.setting_cont {
    right: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px; 
}


.main_container{
    justify-content: center;
}

.first_row{
    margin-top: 20px;
    gap: 10px;
}

.first_row .col{
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(240, 230, 230);
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.add_user{
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.itexmo_api{
    background: linear-gradient(180deg, rgb(141, 115, 222), rgb(68, 30, 180), rgb(57, 47, 85));
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.email_api{
    background: linear-gradient(180deg, rgb(3, 238, 215), rgb(32, 62, 59), rgb(43, 93, 88));
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.pears_api{
    background: linear-gradient(180deg, rgb(101, 206, 78), rgb(53, 87, 45), rgb(100, 134, 92));
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.login_api{
    background: linear-gradient(180deg, rgb(220, 209, 105), rgb(126, 121, 43), rgb(228, 186, 19));
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.top_line{
    margin-top: 20px;
    margin-bottom: -15px;
    overflow: hidden;
    padding: 0;
    border: none;
    color: antiquewhite;
}

.setting_icon{
    height: 25px;
    width: 25px;
}

.lower_line{
    margin-top: 30px;
    background: linear-gradient(180deg, #2f4047, #0c100c,  #3d473d);
    width: 150%;
    height: 30px;
    color: rgb(253, 250, 251);
    font-weight: bold;
}









.second_row{
    margin-top: 20px;
    gap: 10px;
    height: 300px;
    
 
}
.users_col{
    margin-top: 20px;
    background: linear-gradient(180deg, rgb(80, 4, 94), rgb(142, 10, 144), rgb(165, 83, 156)) !important;
    border-radius: 20px;
    color: antiquewhite;
}
.role_col{
    margin-top: 20px;
    background: linear-gradient(180deg, rgb(35, 76, 24), rgb(14, 58, 20), rgb(91, 167, 78)) !important;
    border-radius: 20px;
    color: antiquewhite;
}
.div_col{
    margin-top: 20px;
    background: linear-gradient(180deg, rgb(35, 76, 24), rgb(14, 58, 20), rgb(91, 167, 78)) !important;
    border-radius: 20px;
    color: antiquewhite;
}
