.table_icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.table{
    border-radius: 10px;
}


.equal-header{
    background: rgb(47, 17, 41) !important;
    color: rgb(207, 178, 178) !important;
    font-size: 12px;
    width: 200px;
}

.action-header{
    background: rgb(47, 17, 41) !important;
    color: rgb(207, 178, 178) !important;
    font-size: 12px;
    width: 50px;
}

.equal-column{
    background: rgb(205, 144, 198) !important;
    color: rgb(33, 0, 248) !important;
    font-size: 12px;
    font-weight: bold;
    width: 200px;
    justify-content: center;
}

.action-column{
    background: rgb(205, 144, 198) !important;
    color: rgb(33, 0, 248) !important;
    font-size: 12px;
    font-weight: bold;
    width: 50px;
    justify-content: center; 
}



