.setting_cont {
    right: 0;
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px; 
}

.setting_icon{
    height: 25px;
    width: 25px;
}



.main_container{
    justify-content: center;
}

.first_row{
    margin-top: 20px;
    gap: 10px;
}

.first_row .col{
    height: 100px;
    border-radius: 10px;
    border: 1px solid rgb(240, 230, 230);
    text-align: center; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.api-col{/*HAS THEME bg*/
    display: flex;
    flex-direction: column; 
    align-items: center;   
    justify-content: center;
    text-align: center;
    overflow: hidden;
}

.api-col:hover{
    background: linear-gradient(120deg, #b436bdd5 20%, #02f9e9e4 50%, #671de6d9 80%);
    border: 2px solid black;
}

.top_line{/*HAS THEME color*/
    margin-top: 20px;
    margin-bottom: -15px;
    overflow: hidden;
    padding: 0;
    border: none;
    cursor: pointer;
}

.lower_line{/*HAS THEME color*/
    margin-top: 30px;
    width: 150%;
    height: 30px;
    font-weight: bold;
    cursor: pointer;
}


.second_row{
    margin-top: 20px;
    gap: 10px;
    height: 400px;
}
.div_col{/*HAS THEME bg and color*/
    margin-top: 20px;
    border-radius: 20px;
}


.add_container{
    margin-top: 10px;
    display: flex;
    justify-content: flex-end; 
    position: relative;
    z-index: 10;
    margin-right: 5px;
}

.image_container {
    padding: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-top: -20px;
}

.card_icon{
    margin-left: 20px;
    margin-right: 30px;
    height: 250px;
    width: 250px;
}

.info_text1{
    height: 50px;
    overflow-y: auto;
    overflow-x: hidden;
}

.data_view{
    cursor: pointer;
}



.add_btn{
    height: 30px;
    width: 30px;
    border: none;
    padding: 0px;
}

.add_btn img{
    height: 30px;
    width: 30px;
}
