/* base.css */

/* Base CSS Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    overflow: hidden;
}


/* Top Navbar */
.topbar {
    height: 50px;
    background: #050016d7;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0px;
    color: white;
    overflow: hidden;
    width: 100%;
}
.ds_logo{
    padding: 10px;
}
.ds_logo img{
    height: 90px;
    width: 150px;
}
.logout{
    margin-left: auto;
}
.title {
    font-size: 20px;
    font-weight: 100;
}



/* Footer */
.footer {
    width: 100vw;
    height: 40px;
    background: #000000;
    color: white;
    align-items: center;
    text-align: center;
    position: fixed;
    bottom: 0;
    z-index: 1040;
    overflow: hidden;
}
.footer h5{
    font-size: 14px;
}
.foot_title{
    margin-top: 5px;
    margin-bottom: -2px;
}
.support_phone{
    margin-top: 10px;
}
.supp_contact{
    color: chocolate;
}
.support_email{
    margin-top: 10px;
}
.supp_mail{
    color: blue;
}