.setting_cont {
    position: absolute;  /* Make it float above other elements */
    right: 10px;  /* Align to the right */
    display: flex;
    justify-content: flex-end; 
    align-items: center;
    padding: 10px;
    gap: 10px; 
    z-index: 1000;  /* Ensures it appears above other elements */
}
.setting_icon{
    height: 25px;
    width: 25px;
}

.first_row{
    gap: 10px;
    height: 100px;
    border: 1px solid white;
    border-radius: 10px;
    padding-right: 10px;
}

.welcome{
    margin-top: 10px;
}

.top-col{
    margin-top: 10px;
    background: linear-gradient(180deg, rgba(174, 173, 170, 0.7), rgba(213, 210, 200, 0.83));
    border: 1px solid white;
    border-radius: 10px;
    height: 80px;
    
}

.separator{
    margin-top: 20px;
    padding: 0%;
}




.second_row{
    margin-top: -10px;
    gap: 20px;
    height: 400px;
}


.div_col {
    border-radius: 20px;
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    padding: 10px;
}




.service-row {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 30px; 
    margin-bottom: 20px;
    margin-top: 20px;
}


.service-col {
    display: flex;
    justify-content: center; 
    align-items: center; 
    background: linear-gradient(120deg, #d378cdd5 20%, #5252e9e4 30%, #e0fd02d9 80%);
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    height: 150px;
}


.card_icon {
    padding: 0%;
    margin: 0%;
    border: none;
    width: 120px; 
    height: 120px;
}



