* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins, sans-serif;
}

.login-container {
    display: flex;
    width: 100vw;
    height: 100vh;
}

.login-right {
    width: 400px;
    background: linear-gradient(180deg, #35036e, #8A80D4);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}

.title {
    color: white;
    font-size: 48px;
    font-weight: 700;
    text-align: center;
}

.subtitle {
    color: white;
    font-size: 20px;
    text-align: center;
    margin-top: 10px;
}

.login-title {
    color: white;
    font-size: 30px;
    font-weight: 500;
    margin: 30px 0;
}

.login-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-container{
    margin-top: 50px;
}

.login-form label {
    color: white;
    font-size: 24px;
    text-align: left;
    width: 100%;
    margin-bottom: 5px;
}

.input-group {
    width: 100%;
    background: #D9D9D9;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-bottom: 20px;
}

.input-group .icon {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.input-group input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    font-size: 18px;
}

.login-btn {
    width: 100%;
    padding: 15px;
    border: none;
    background: linear-gradient(90deg, #180570, #2F09D6);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.login-btn:hover {
    background: linear-gradient(90deg, #2F09D6, #180570);
}
