
/*ADMIN MODALS ===================================================================================================================>*/
.admin-modal .modal-body {
    overflow-y: auto;
    max-height: 80vh; 
    padding: 0;
}

.admin-modal_sm .modal-body {
    overflow-y: auto;
    max-height: 80vh; 
}

.admin-modal .modal-backdrop {
    z-index: 1045;
}

.admin-modal .table_icons{
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}