/* side_nav.css */

/* Sidebar */
.sidebar {/*HAS THEME bg and color*/
    width: 200px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    z-index: 1050;
}

.sidebar-title {
    font-size: 35px;
    font-weight: 700;
    
}

.ds_logo{
    margin-top: -20px;
    padding: 5px;
}

.sidebar-user{
    margin-top: -20px;
}

.sidebar-subtitle {
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    margin-top: -10px;
}

.sidebar-line {/*HAS THEME color*/
    width: 80%;
}

/* Sidebar Menu */
.menu ul {
    list-style: none;
    width: 100%;
    padding: 0;
}

.menu li {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;
    transition: 0.3s;
    font-size: 20px;
    font-weight: 700;
    border-radius: 10px;
}

.menu li a {/*HAS THEME color*/
    display: flex;
    align-items: center;
    text-decoration: none;
    width: 100%;
    font-size: 20px;
    font-weight: 700;
    transition: background 0.3s;
}

/* Hover effect */
.menu li a:hover {
    background: linear-gradient(120deg, #b436bdd5 20%, #02f9e9e4 50%, #671de6d9 80%);
    color:  #690c19d5;
}

/* Active state */
.menu li.active a {
    background: linear-gradient(120deg, #ee00ffd5 20%, #01fff7e4 50%, #00ff08d9 80%);
    color:  #690c19d5;
}

/* Ensure images and text are aligned */
.menu li a img {
    width: 40px;
    height: 40px;
    margin-right: 15px;
}

/* Nav Icons */
.nav_icon{
    width: 40px;
    height: 40px;
}


