/* CSS CODE FOR 'NOTIFS' BY: RYRUBIO */
/*===============================================================================================================================>*/
/*MODAL TABLES TD/TH  ===========================================================================================================>*/
    /*TH*/
.th_1{
    max-width: 300px;
}

.th_2{
    max-width: 200px;
}

.th_3{
    max-width: 100px;
}

.th_4{
    max-width: 50px;
}

.th_5{
    max-width: 70px;
}

.th_6{
    max-width: 40px;
}

.th_7{
    max-width: 20px;
}

.th_8{
    max-width: 150px;
}

.th_9{
    max-width: 350px;
}

.th_10{
    max-width: 400px;
}