/* CSS CODE FOR 'NOTIFS' BY: RYRUBIO */
/*===============================================================================================================================>*/
/*MODAL TABLES TD/TH  ===========================================================================================================>*/
    /*TH*/
.th_1{
    width: 300px;
}

.th_2{
    width: 200px;
}

.th_3{
    width: 100px;
}

.th_4{
    width: 50px;
}

.th_5{
    width: 70px;
}

.th_6{
    width: 40px;
}

.th_7{
    width: 20px;
}