.dark_theme-bg{
    background: linear-gradient(180deg, #0c0c0c 0%, #101010 100%);
}
.dark_theme-color{
    color: rgb(246, 230, 230);
}

.light_theme-bg{
    background: linear-gradient(180deg, #eae5f3 0%, #929297 100%);
}
.light_theme-color{
    color: rgb(17, 1, 1);
}

.matrix_theme-bg{
    background: linear-gradient(180deg, rgba(7, 1, 13, 0.7), rgba(7, 7, 39, 0.7)), 
                url('/static/images/matrix/backgrounds/theme_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.matrix_theme-color{
    color: rgb(40, 238, 5);
}

.floral_theme-bg{
    background: linear-gradient(180deg, rgba(207, 197, 123, 0.7), rgba(213, 179, 57, 0.83)), 
                url('/static/images/floral/backgrounds/theme_background.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.floral_theme-color{
    color: rgb(60, 59, 3);
}

.default_theme-bg{
    background: linear-gradient(180deg, #3e3ef0d5 20%, #3c3ceae4 30%, #4d4dd8d9 40%);
}
.default_theme-color{
    color: rgb(26, 4, 67);
}