.offcanvas {
    --bs-offcanvas-width: 430px;
}

.offcanvas-body{
    overflow-y: auto;
}

.default-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative;
    background: url('/static/images/THEMEs/default_theme.svg');
    background-size: contain; 
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.dark-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background: url('/static/images/THEMEs/dark_theme.svg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.light-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background: url('/static/images/THEMEs/light_theme.svg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.floralY-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background: url('/static/images/THEMEs/floral_yellow_theme.svg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.matrix-btn-container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    position: relative; 
    background: url('/static/images/THEMEs/matrix_theme.svg');
    background-size: contain;
    background-position: center; 
    background-repeat: no-repeat;
    border-radius: 10px;
    width: 380px;
    height: 180px;
    border: 2px solid black;
    margin-top: 5px;
    margin-bottom: 10px;
}

.theme-content {
    width: 100%;
    height: 100%;
    position: relative; /* Ensures elements inside can be positioned */
}

.theme-info {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 10px; /* Adds a little space from edges */
}

.theme_info {
    width: 30px; /* Adjust the size of the info icon */
    height: 30px;
}

.theme-btn {
    position: absolute;
    bottom: 10px; /* Adjusts how far from the bottom */
    left: 50%;
    transform: translateX(-50%); /* Centers the button horizontally */
}

.submit-btn {
    padding: 8px 16px; 
    font-size: 16px; 
    font-weight: bold;
    border: 1px solid rgb(103, 5, 5);
    border-radius: 5px;
    background-color: #12d222;
    color: rgb(25, 4, 94);
    cursor: pointer;
    transition: 0.3s;
}

.submit-btn:hover {
    background-color: #90dc03;
    font-size: 20px;

}