<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--ADD ITEXMO CREDENTIALS-->
<div class="modal fade" id="itextMoModal" tabindex="-1" aria-labelledby="itextMoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2 class="modal-title">ITEXMO API <br>  Credentials</h2>
                <button type="button" class="btn-close {{user.theme.theme_font}}" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_itexmo') }}" method="POST">
                    <div class="col mb-3">
                        <label class="form-label" for="itexmo_name">Api Name</label>
                        <input class="form-control" type="text" id="itexmo_name" name="itexmo_name" required>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label" for="itexmo_url">URL</label>
                        <input class="form-control" type="text" id="itexmo_url" name="itexmo_url" required>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="itexmo_email">Email</label>
                            <input class="form-control" type="email" id="itexmo_email" name="itexmo_email" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="itexmo_password">Password</label>
                            <input class="form-control" type="password" id="itexmo_password" name="itexmo_password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="itexmo_apicode">API Code</label>
                            <input class="form-control" type="text" id="itexmo_apicode" name="itexmo_apicode" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="itexmo_contenttype">Content-Type</label>
                            <input class="form-control" type="text" id="itexmo_contenttype" name="itexmo_contenttype" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD EMAIL CREDENTIALS-->
<div class="modal fade" id="emailCredsModal" tabindex="-1" aria-labelledby="emailCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2>Email Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_email_api') }}" method="POST">
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="ecreds_name">Name</label>
                            <input class="form-control" type="text" id="ecreds_name" name="ecreds_name" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="ecreds_email">Email</label>
                            <input class="form-control" type="email" id="ecreds_email" name="ecreds_email" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="ecreds_sender">Sender</label>
                            <input class="form-control" type="text" id="ecreds_sender" name="ecreds_sender" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="ecreds_password">Password</label>
                            <input class="form-control" type="password" id="ecreds_password" name="ecreds_password" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD HRIS CREDENTIALS-->
<div class="modal fade" id="pearsCredsModal" tabindex="-1" aria-labelledby="pearsCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2>HRPears API Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_hrpears_api') }}" method="POST">
                    <div class="col mb-3">
                        <label class="form-label" for="hrpears_name">Name</label>
                        <input class="form-control" type="text" id="hrpears_name" name="hrpears_name" required>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_host">Host</label>
                            <input class="form-control" type="text" id="hrpears_host" name="hrpears_host" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_root">Port</label>
                            <input class="form-control" type="text" id="hrpears_root" name="hrpears_root" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_user">User</label>
                            <input class="form-control" type="text" id="hrpears_user" name="hrpears_user" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_password">Password</label>
                            <input class="form-control" type="password" id="hrpears_password" name="hrpears_password" required>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_dbname">DB Name</label>
                            <input class="form-control" type="text" id="hrpears_dbname" name="hrpears_dbname" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="hrpears_table">Table Name</label>
                            <input class="form-control" type="text" id="hrpears_table" name="hrpears_table" required>
                        </div>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD LOGIN API CREDENTIALS-->
<div class="modal fade" id="loginCredsModal" tabindex="-1" aria-labelledby="loginCredsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2>Login API Credentials</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_login_api') }}" method="POST">
                    <div class="col mb-3">
                        <label class="form-label" for="login_api_name">Name</label>
                        <input class="form-control" type="text" id="login_api_name" name="login_api_name" required>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="login_api_url">URL</label>
                            <input class="form-control" type="text" id="login_api_url" name="login_api_url" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="login_api_token">Token</label>
                            <input class="form-control" type="text" id="login_api_token" name="login_api_token" required>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label" for="login_api_content_type">Content-Type</label>
                        <input class="form-control" type="text" id="login_api_content_type" name="login_api_content_type" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD USER ROLES/TYPES-->
<div class="modal fade" id="addRoleModal" tabindex="-1" aria-labelledby="addRoleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2>Add User Type</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_role') }}" method="POST">
                    <div class="col mb-3">
                        <label class="form-label" for="role_name">User Type</label>
                        <input class="form-control" type="text" id="role_name" name="role_name" required>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label" for="role_description">Description</label>
                        <input class="form-control" type="text" id="role_description" name="role_description" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD USER DIVISIONS-->
<div class="modal fade" id="addDivisionModal" tabindex="-1" aria-labelledby="addDivisionModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2>Add Fund Program</h2>
                <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_division') }}" method="POST">
                    <div class="col mb-3">
                        <label class="form-label" for="division_name">Program</label>
                        <input class="form-control" type="text" id="division_name" name="division_name" required>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label" for="division_description">Description</label>
                        <input class="form-control" type="text" id="division_description" name="division_description" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--ADD USER-->
<div class="modal fade" id="addUserModal" tabindex="-1" aria-labelledby="addUserModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h2 class="modal-title" id="addUserModalLabel">Add User</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
                <form action="{{ url_for('notifs.register_user') }}" method="POST">
                    <div class="row">
                        <div class="col mb-3">
                            <label for="full_name" class="form-label">Name</label>
                            <div class="input-group">
                                <span class="input-group-text form-icon user_directory-btn"
                                    data-bs-toggle="popover"
                                    data-bs-trigger="hover" 
                                    data-bs-content="Open Employee Directory"
                                    style="cursor: pointer;">
                                    <img class="directory_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/directory.svg') }}" alt="directory"/>
                                </span>
                                <input type="text" class="form-control" id="ufull_name" name="full_name" placeholder="Full Name" required readonly>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="username" class="form-label">Username</label>
                            <input type="text" class="form-control" id="uusername" name="username" placeholder="User Name" required readonly>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="role_id" class="form-label">Roles</label>
                            <select id="role_id" name="role_id" class="form-control" required>
                                <option value="" disabled selected>Select a role</option>
                                {% for role in role_data %}
                                    {% if user.role_id == 1 or role.role_id != 1 %}
                                        <option value="{{ role.role_id }}">{{ role.role_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label for="email" class="form-label">Email</label>
                            <input type="email" class="form-control" id="uemail" name="email" placeholder="Email" readonly>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col mb-3">
                            <label for="division" class="form-label">Division</label>
                            <input type="text" class="form-control" id="udivision" name="division" placeholder="Division" readonly>
                        </div>
                        <div class="col mb-3">
                            <label for="section" class="form-label">Section</label>
                            <input type="text" class="form-control" id="usection" name="section" placeholder="Section" readonly>
                        </div>
                    </div>
                   
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--USER DIRECTORY-->
<div class="modal fade" id="userDirectoryModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="userDirectoryModallabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
                <h5 class="modal-title" id="userDirectoryModallabel">FOX-Users</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="directory-content {{user.theme.theme_font}}">
                    <input type="text" placeholder="Search..." class="user_search-bar" id="user_searchBar">
                    <div class="table-responsive scrollable-modal-body">
                        <table class="table table-bordered table-hover">
                            <thead class="table-light">
                                <tr>
                                    <th>Name</th>
                                </tr>
                            </thead>
                            <tbody id="userdirectoryTable">
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->

