
 <div class="modal fade" id="itextmo_display" tabindex="-1" aria-labelledby="itextmo_displayLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="itextmo_displayLabel">ITEXMO API DATA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>API Name</th>
                            <th>URL</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% for texdata in itexmo_data%}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{texdata.itexmo_name }}</td>
                            <td>{{texdata.itexmo_url}}</td>
                            <td>
                            
                                <button class="itexmo-log-btn btn p-0 m-0 " data-log-id="{{ texdata.itexmo_id }}">
                                    <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/delete_icon.svg') }}" alt="delete" />
                                </button>
                                |
                                <button class="edit_itexmo-btn btn p-0 m-0 "
                                data-txtid="{{ texdata.itexmo_id }}"
                                data-txtname="{{ texdata.itexmo_name }}"
                                data-txturl ="{{ texdata.itexmo_url }}"
                                data-txtemail ="{{ texdata.itexmo_email }}"
                                data-txtpassword ="{{ texdata.itexmo_password }}"
                                data-txtapicode ="{{ texdata.itexmo_apicode }}"
                                data-txtcontenttype ="{{ texdata.itexmo_contenttype }}"
                                >
                                    <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/edit_icon.svg') }}" alt="edit" />
                                </button>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="itextmo_edit" tabindex="-1" aria-labelledby="itextmo_editLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header">
                <h5 class="modal-title" id="itextmo_editLabel">Edit Itexmo Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form method="POST" id="itextmo_editForm">
                    <input type="hidden" id="itexmo_id" name="itexmo_id">
                    <label for="itexmo_name">Api Name</label>
                    <input type="text" id="itexmo_name" name="itexmo_name" required>

                    <label for="itexmo_url">URL</label>
                    <input type="text" id="itexmo_url" name="itexmo_url" required>
                    
                    <label for="itexmo_email">Email</label>
                    <input type="email" id="itexmo_email" name="itexmo_email"  required>
                    
                    <div class="row-group">
                        <div class="input-group content">
                            <label for="itexmo_password">Password</label>
                            <input type="text" id="itexmo_password" name="itexmo_password" required>
                        </div>
                        <div class="input-group content">
                            <label for="itexmo_apicode">API Code</label>
                            <input type="text" id="itexmo_apicode" name="itexmo_apicode" required>
                        </div>
                    </div>
                    
                    <label for="itexmo_contenttype">Content-Type</label>
                    <input type="text" id="itexmo_contenttype" name="itexmo_contenttype" required>
                    
                    <button type="submit" class="submit-btn">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        document.querySelectorAll(".edit_itexmo-btn").forEach(button => {
            button.addEventListener("click", function () {
                let txtid = this.getAttribute("data-txtid");
                let txtname = this.getAttribute("data-txtname");
                let txturl = this.getAttribute("data-txturl");
                let txtemail = this.getAttribute("data-txtemail");
                let txtpassword = this.getAttribute("data-txtpassword");
                let txtapicode = this.getAttribute("data-txtapicode");
                let txtcontenttype = this.getAttribute("data-txtcontenttype");
               
                
                document.getElementById("itexmo_id").value = txtid;
                document.getElementById("itexmo_name").value = txtname;
                document.getElementById("itexmo_url").value = txturl;
                document.getElementById("itexmo_email").value = txtemail;
                document.getElementById("itexmo_password").value = txtpassword;
                document.getElementById("itexmo_apicode").value = txtapicode;
                document.getElementById("itexmo_contenttype").value = txtcontenttype;
                
                document.getElementById("itextmo_editForm").action = `/edit_itexmo_route/${txtid}`;
                
                new bootstrap.Modal(document.getElementById("itextmo_edit")).show();
            });
        });
    });
</script>