<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--LOGIN API CREDENTIALS DATA TABLE MODAL-->
<div class="modal fade" id="login_display" tabindex="-1" aria-labelledby="login_displayLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}  admin-modal admin">
            <div class="modal-header {{user.theme.theme_font}} ">
                <h1 class="modal-title fs-5" id="login_displayLabel">LOGIN API DATA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}} ">
                <div class="table-responsive scrollable-modal-body">
                    <table class="table table-striped table-hover ">
                        <thead class="table-light">
                            <tr>
                                <th class="th_4">#</th>
                                <th class="th_2">API Name</th>
                                <th>URL</th>
                                <th class="th_3">Actions</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            {% for logdata in login_data %}
                            <tr>
                                <td class="th_4">{{ loop.index }}</td>
                                <td class="th_2">{{logdata.login_api_name }}</td>
                                <td>{{logdata.login_api_url}}</td>
                                <td class="th_3">
                                    <button class="login-log-btn btn p-0 m-0 " data-log-id="{{ logdata.login_api_id }}">
                                        <!--<img class="table_icons" src="{{ url_for('static', filename='images/global/delete_icon.webp') }}?v=1.0.1" alt="delete" />-->
                                    </button>
                                    |
                                    <button class="edit_login-btn btn p-0 m-0 "
                                    data-logid="{{ logdata.login_api_id }}"
                                    data-logname="{{ logdata.login_api_name }}"
                                    data-logurl ="{{ logdata.login_api_url }}"
                                    data-logtoken ="{{ logdata.login_api_token }}"
                                    data-logcontenttype ="{{ logdata.login_api_content_type }}"
                                    >
                                        <!--<img class="table_icons" src="{{ url_for('static', filename='images/global/edit_icon.webp') }}?v=1.0.1" alt="edit" />-->
                                    </button>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--LOGIN API CREDENTIALS EDIT FORM MODAL-->
<div class="modal fade" id="login_edit" tabindex="-1" aria-labelledby="login_editLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}} ">
                <h5 class="modal-title" id="login_editLabel">Edit Login Credentials</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}} ">
                <form method="POST" id="login_editForm">
                    <input type="hidden" id="login_api_id" name="login_api_id">
                    <div class="col mb-3">
                        <label class="form-label" for="login_api_name">Name</label>
                        <input class="form-control" type="text" id="login_api_name" name="login_api_name" required>
                    </div>
                    <div class="row">
                        <div class="col mb-3">
                            <label class="form-label" for="login_api_url">URL</label>
                            <input class="form-control" type="text" id="login_api_url" name="login_api_url" required>
                        </div>
                        <div class="col mb-3">
                            <label class="form-label" for="login_api_token">Token</label>
                            <input class="form-control" type="password" id="login_api_token" name="login_api_token" required>
                        </div>
                    </div>
                    <div class="col mb-3">
                        <label class="form-label" for="login_api_content_type">Content-Type</label>
                        <input class="form-control" type="password" id="login_api_content_type" name="login_api_content_type" required>
                    </div>
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
