<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}">
            <div class="modal-header {{user.theme.theme_font}}">
            <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}}">
            <form>
                <div class="row">
                    <div class="col mb-3">
                        <label for="inputName" class="form-label">Name</label>
                        <div class="input-group">
                            <span class="input-group-text form-icon directory-btn">📞</span>
                            <input type="text" class="form-control" id="inputName" placeholder="Enter your name">
                          </div>
                    </div>
                </div>
                <div class="mb-3">
                <label for="inputEmail" class="form-label">Email address</label>
                <input type="email" class="form-control" id="inputEmail" placeholder="Enter your email">
                </div>
                <div class="mb-3">
                <label for="inputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="inputPassword" placeholder="Enter your password">
                </div>
            </form>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Submit</button>
            </div>
        </div>
    </div>
</div>