<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!--=============================================================================================================================-->
<!--USER DATA TABLE MODAL-->
<div class="modal fade" id="users_display" tabindex="-1" aria-labelledby="users_displayLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}  admin-modal admin">
            <div class="modal-header {{user.theme.theme_font}} ">
                <h1 class="modal-title fs-5" id="users_displayLabel">USERS DATA</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}} ">
                <table class="table table-striped table-hover ">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Division</th>
                            <th>Type</th>
                            {% if user.is_authenticated and user.role_id in [1,3] %}
                                <th>Actions</th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody id="tableBody">
                        {% for users in user_data%}
                        <tr>
                            {% if user.role_id == 1 or users.role.role_id != 1 %}
                                <td>{{ loop.index - 1 }}</td>
                                <td>{{users.full_name }}</td>
                                <td>{{users.division}}</td>
                                <td>
                                    {% if user.role_id == 1 or users.role.role_id != 1 %}
                                        {{users.role.role_name}}
                                    {% endif %}
                                </td>
                                {% if user.is_authenticated and user.role_id in [1,3] %}
                                    <td>
                                        {% if user.role_id == 1 or (user.role_id == 3 and users.role_id != 1) %}
                                            <button class="user-log-btn btn p-0 m-0 " data-log-id="{{ users.user_id }}">
                                                <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/delete_icon.svg') }}" alt="delete" />
                                            </button>
                                            |
                                            <button class="edit_user-btn btn p-0 m-0 "
                                            data-uid="{{ users.user_id }}"
                                            data-uname="{{ users.username }}"
                                            data-fname ="{{ users.full_name }}"
                                            data-division ="{{ users.division }}"
                                            data-rid ="{{ users.role_id }}"
                                            >
                                                <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/edit_icon.svg') }}" alt="edit" />
                                            </button>
                                        {% endif %}
                                    </td>
                                {% endif %}
                            {% endif %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
<!--USER EDIT FORM MODAL-->
<div class="modal fade" id="user_edit" tabindex="-1" aria-labelledby="user_editLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content {{user.theme.theme_bg}} {{user.theme.theme_font}}  admin-modal_sm admin">
            <div class="modal-header {{user.theme.theme_font}} ">
                <h5 class="modal-title" id="user_editLabel">Edit Users Data</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body {{user.theme.theme_font}} ">
                <form method="POST" id="user_editForm">
                    <input type="hidden" id="user_id" name="user_id">
                    <label for="full_name">Full Name</label>
                    <input type="text" id="full_name" name="full_name" required>
                    <div class="row-group">
                        <div class="input-group">
                            <label for="username">Username</label>
                            <input type="text" id="username" name="username"  required>
                        </div>
                        <div class="input-group">
                            <label for="role_id">Role</label>
                            <select id="role_id" name="role_id"  required>
                                {% for role in role_data %}
                                    {% if user.role_id == 1 or role.role_id != 1 %}
                                        <option value="{{ role.role_id }}">{{ role.role_name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <label for="division">Division</label>
                    <select id="division" name="division" required>
                        {% for division in division_data %}
                            <option value="{{ division.division_name }}">{{ division.division_name }}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" class="btn submit-btn mt-3">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
<!--=============================================================================================================================-->
