{% extends "base.html" %}



{% block title %}
Admin - FO-X NotiFS
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}



{% block content %}

<div class="row g-0 p-0 m-0">
    <div class="col-auto">
    </div>
    <div class="col">

        <div class="container-fluid main_container">
            <div class="setting_cont">
                <img class="setting_icon" src="{{ url_for('static', filename='images/colorful/global/settings_icon.svg') }}" 
                     alt="settings" 
                     data-bs-toggle="popover" 
                     data-bs-content="App Settings" 
                     data-bs-placement="bottom">
            </div>
            <div class="row first_row">
                <div class="col itexmo_api">
                    <div class="top_line">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#itextmo_display"
                                {% endif %}>
                                ({{total_itexmo_data}}) ITEXMo API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/colorful/pages/text_small.svg') }}" alt="text">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line" 
                        {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#itextMoModal"
                        {% endif %}>
                        Add ITEXMo Credentials
                    </div>
                    
                </div>
                <div class="col email_api">
                    <div class="top_line">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_email_data}}) Email API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/colorful/pages/email_small.svg') }}" alt="email">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line"
                        {% if user.is_authenticated and user.role_id == 1 %}
                                data-bs-toggle="modal" data-bs-target="#emailCredsModal"
                        {% endif %}>
                        Add Email Credentials
                    </div>
                </div>
                <div class="col pears_api">
                    <div class="top_line">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_hrpears_data}}) H.R. Pears API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/colorful/pages/hrpears_small.svg') }}" alt="hrpears">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line" 
                       {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#pearsCredsModal"
                        {% endif %}>
                        Add HRPears Credentials
                    </div>
                </div>
                <div class="col login_api">
                    <div class="top_line">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_login_data}}) Log-in API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/colorful/pages/login_small.svg') }}" alt="login">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line"
                        {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#loginCredsModal"
                        {% endif %}>
                        Add Login Credentials
                    </div>
                </div>
            </div>

            <div class="row second_row">
                <div class="col col_1st">
                   
                </div>



                <div class="col col_2nd">
                    col 2
                </div>
            </div>



        </div>
    </div>
</div>
{% include "admin_modals/itexmo_modal.html" %}
{% include "global_modals/add_credentials.html" %}
{% endblock %}

{% block scripts %}



{% endblock %}
