{% extends "base.html" %}



{% block title %}
Admin - FO-X NotiFS
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/admin.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/content.css') }}">
{% endblock %}



{% block content %}

<div class="row g-0 p-0 m-0">
    <div class="col-auto">
    </div>
    <div class="col">
        <div class="container-fluid main_container">
            <div class="setting_cont">
                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/settings_icon.svg') }}" 
                     alt="settings" 
                     data-bs-toggle="popover" 
                     data-bs-content="App Settings" 
                     data-bs-placement="bottom">
            </div>
            <div class="row first_row">
                <div class="col itexmo_api {{user.theme.theme_bg}} {{user.theme.theme_bg}}">
                    <div class="top_line {{user.theme.theme_font}}">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#itextmo_display"
                                {% endif %}>
                                ({{total_itexmo_data}}) ITEXMo API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/pages/text_small.svg') }}" alt="text">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line {{user.theme.theme_font}}" 
                        {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#itextMoModal"
                        {% endif %}>
                        Add ITEXMo Credentials
                    </div>
                    
                </div>
                <div class="col email_api {{user.theme.theme_bg}}">
                    <div class="top_line {{user.theme.theme_font}}">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_email_data}}) Email API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/pages/email_small.svg') }}" alt="email">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line {{user.theme.theme_font}}"
                        {% if user.is_authenticated and user.role_id == 1 %}
                                data-bs-toggle="modal" data-bs-target="#emailCredsModal"
                        {% endif %}>
                        Add Email Credentials
                    </div>
                </div>
                <div class="col pears_api {{user.theme.theme_bg}}">
                    <div class="top_line {{user.theme.theme_font}}">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_hrpears_data}}) H.R. Pears API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/pages/hrpears_small.svg') }}" alt="hrpears">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line {{user.theme.theme_font}}" 
                       {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#pearsCredsModal"
                        {% endif %}>
                        Add HRPears Credentials
                    </div>
                </div>
                <div class="col login_api {{user.theme.theme_bg}}">
                    <div class="top_line {{user.theme.theme_font}}">
                        <div>
                            <h4>
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#"
                                {% endif %}>
                                ({{total_login_data}}) Log-in API
                                </span>
                                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/pages/login_small.svg') }}" alt="login">
                            </h4>
                        </div>
                    </div>
                    <div class="lower_line {{user.theme.theme_font}}"
                        {% if user.is_authenticated and user.role_id == 1 %}
                            data-bs-toggle="modal" data-bs-target="#loginCredsModal"
                        {% endif %}>
                        Add Login Credentials
                    </div>
                </div>
            </div>

            <div class="row second_row">
                <div class="col users_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    <!--<div class="top_line2 {{user.theme.theme_font}}">
                        <div>
                            <h4>
                                ({{total_user}}) Users
                                <span
                                {% if user.is_authenticated and user.role_id == 1 %}
                                    data-bs-toggle="modal" data-bs-target="#addUserModal"
                                {% endif %}>
                                    <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/add_icon.svg') }}" alt="add">
                                </span>
                            </h4>
                            
                        </div>
                    </div>
                    <div class="lower_line2">
                        <table class="styled-table">
                            <thead>
                                <tr>
                                    <th class="small-column">#</th>
                                    <th class="large-column">Name</th>
                                    <th class="small-column">Division</th>
                                    <th>Type</th>
                                    <th class="small-column">Actions</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for user in user_data %}
                                <tr>
                                    <td>{{ loop.index }}.</td>
                                    <td>{{ user.full_name }}</td>
                                    <td>{{ user.division }}</td>
                                    <td>{{ user.role.role_name }}</td>
                                    <td class="action-column">
                                        <button class="btn p-0">
                                            <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/delete_icon.svg') }}" alt="delete" />
                                        </button>
                                        |
                                        <button class="btn p-0">
                                            <img class="table_icons" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/edit_icon.svg') }}" alt="edit" />
                                        </button>
                                    </td>
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>-->
                </div>

                <div class="col role_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    col 2
                </div>

                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    col 3
                </div>
                
                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    col 3
                </div>
            </div>



        </div>
    </div>
</div>
{% include "admin_modals/itexmo_modal.html" %}
{% include "global_modals/add_credentials.html" %}
{% endblock %}

{% block scripts %}



{% endblock %}
