<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
{% extends "base.html" %}

    {% block title %}
        Home - FO-X NotiFS
    {% endblock %}

    {% block css %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/theme_offcanvas.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/msgs.css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/directory.css') }}">
    {% endblock %}

    {% block content %}
        <div class="row g-0 p-0 m-0">
            <div class="col-auto">
            </div>
            <div class="col home">
                <div class="container-fluid main_container">
                    <div class="setting_cont">
                        <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                            alt="settings"
                            data-bs-toggle="modal" 
                            data-bs-target="#"
                            id="infoIcon"
                            style="cursor: pointer;">
                            
                        <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/themes.svg') }}" 
                            alt="settings"
                            data-bs-toggle="offcanvas" 
                            data-bs-target="#staticBackdrop"
                            id="settingsIcon"
                            style="cursor: pointer;">
                    </div>
                    <div class="row first_row {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                        <div class="col">
                            <h2 class="welcome">Welcome <u>{{ user.full_name.split(' ')[0].title() }} {{ user.full_name.split(' ')[1].title() if '.' not in user.full_name.split(' ')[1] else '' }}</u></h2>
                            <h5 class="user-type">you are logged as {{user.role.role_name}} </h5>
                        </div>
                        <div class="col top-col ">
                            <div class="row">
                                <div class="col-3">
                                    <h6>NOTES:</h6>
                                    <div class="service-info">
                                        <button class="btn add_btn"
                                            {% if user.is_authenticated and user.role_id in [1, 3] %}
                                                data-bs-toggle="modal" data-bs-target="#addMessageTemplates">
                                                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/add_icon.svg') }}" alt="roles">
                                            {% endif %}
                                        </button>
                                    </div>
                                </div>
                                <div class="col-9 note_area_container">
                                    <div class="note_area">
                                        viaNotes here
                                        Notes here
                                        Notes hereNotes here
                                        Notes here
                                        Notes here
                                        Notes here
                                        Notes here 
                                        Notes here
                                        Notes here
                                        Notes here
                                        viaNotes here
                                        Notes here
                                        Notes hereNotes here
                                        Notes here
                                        Notes here
                                        Notes here
                                        Notes here 
                                        Notes here
                                    </div>
                                   
                                </div>
                            </div>

                        </div>
                        <div class="col top-col ">
                            <h6>SYSTEM NOTICE:</h6>
                        </div>
                    </div>
                    <div>
                        <h4 class="separator">{{ to_block_text("SERVICES") }}</h4>
                    </div>
                    <div class="row second_row">
                        <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                            <div class="row service-row">
                                <div class="col service-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send a single message via sms or email, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Single") }} Contact</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/send_single.svg') }}"
                                    alt="roles"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#singleMsgModal">
                                </div>
                                <div class="col service-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send multiple messages via sms or email, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Multi") }} Contacts</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/send_multiple.svg') }}" 
                                    alt="roles"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#multiMsgModal">
                                </div>
                            </div>
                            <div class="row service-row">
                                <div class="col service-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="This service allows user to send multiple messages via sms or email by uploading a file, just click the image on the right.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Upload") }} Contacts</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/send_upload.svg') }}"
                                    alt="upload_msg"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#uploadMsgModal">
                                </div>
                                <div class="col service-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <button class="btn add_btn"
                                                {% if user.is_authenticated and user.role_id in [1, 3] %}
                                                    data-bs-toggle="modal" data-bs-target="#addMessageTemplates">
                                                    <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/add_icon.svg') }}" alt="roles">
                                                {% endif %}
                                            </button>
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("Message") }} Templates</h5>
                                        </div>
                                    </div>
                                    <img class="card_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/message_templates.svg') }}" alt="message_temps"
                                    alt="upload_msg"
                                    data-bs-toggle="modal" 
                                    data-bs-target="#add_msg_temp_display">
                                </div>
                            </div>
                        </div>

                        <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                            <div class="row service-row">
                                <div class="col msg-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="Open to view User sms transactions. Just click the message icon.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("sent") }} Messages</h5>
                                        </div>
                                    </div>
                                    <div class="msg-wrapper">
                                        {% if sms_sent != 0 %}
                                            <p class="notifier">{{sms_sent}}</p>
                                        {% endif %}
                                        <img class="msg_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/msg_sent.svg') }}" 
                                        alt="messages"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#sent_display">
                                    </div>
                                </div>
                                <div class="col msg-col">
                                    <div class="service-content">
                                        <div class="service-info">
                                            <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                                                alt="settings"
                                                data-bs-toggle="popover"
                                                data-bs-placement="top"
                                                data-bs-content="Open to view User email transactions. Just click the email icon.">
                                        </div>
                                        <div class="service-title">
                                            <h5>{{ to_block_text("email") }} Messages</h5>
                                        </div>
                                    </div>
                                    <div class="msg-wrapper">
                                        {% if emails_sent != 0 %}
                                            <p class="notifier">{{emails_sent}}</p>
                                        {% endif %}
                                        <img class="msg_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/email_sent.svg') }}" 
                                        alt="email"
                                        data-bs-toggle="modal" 
                                        data-bs-target="#">
                                    </div>
                                </div>
                            </div>
                            <div class="row service-row temp_table">
                                <div class="col table-col">
                                    <table class="table table-striped table-hover">
                                        <thead>
                                            <tr>
                                                <th class="tempname-header">Message Template</th>
                                                <th class="tempcontent-header">Template Content</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tableBody">
                                            {% for templates in msg_temp_data%}
                                            <tr>
                                                <td class="tempname-column">{{templates.msg_temp_name }}</td>
                                                <td class="tempcontent-column">{{templates.msg_temp_description}}</td>
                                            </tr>
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {% include "global_modals/theme.html" %}
        {% include "home_modals/msg_modal.html" %}
        {% include "home_modals/directory.html" %}
        {% include "home_modals/msg_temp_modal.html" %}
        {% include "home_modals/sent_unsent_modal.html" %}

        {% block scripts %}
            <script src="{{ url_for('static', filename='js/messages.js') }}"></script>
            
                
        {% endblock %}

    {% endblock %}


