{% extends "base.html" %}



{% block title %}
Home - FO-X NotiFS
{% endblock %}
{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
{% endblock %}



{% block content %}
<div class="row g-0 p-0 m-0">
    <div class="col-auto">
    </div>
    <div class="col">
        <div class="container-fluid main_container">
            <div class="setting_cont">
                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/info.svg') }}" 
                    alt="settings"
                    data-bs-toggle="modal" 
                    data-bs-target="#"
                    id="infoIcon"
                    style="cursor: pointer;">
                    
                <img class="setting_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/global/settings_icon.svg') }}" 
                    alt="settings"
                    data-bs-toggle="modal" 
                    data-bs-target="#themeModal"
                    id="settingsIcon"
                    style="cursor: pointer;">
                
            </div>
        </div>
    </div>
</div>
{% include "global_modals/theme.html" %}
{% endblock %}

{% block scripts %}


{% endblock %}
