
<link rel="stylesheet" href="{{ url_for('static', filename='css/modals.css') }}">


<div class="modal fade" id="itextMo_content_Modal" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
        <div class="modal-header">
            <h1 class="modal-title fs-5" id="itextMo_content_ModalLabel">ITEXMO API</h1>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <table class="table table-striped table-hover">
                <thead class="header_tbl_user">
                    <tr>
                        <th>#</th>
                        <th>API Name</th>
                        <th>URL</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for texdata in itexmo_data%}
                    <tr> 
                        <td>{{ loop.index }}</td>
                        <td>{{texdata.itexmo_name }}</td>
                        <td>{{texdata.itexmo_url}}</td>
                        <td>
                             <!-- Delete Button with onclick for JavaScript -->
                            <button class="btn p-0 m-0" onclick="deleteItExmo({{ texdata.itexmo_id }})">
                                <img class="table_icons" src="{{ url_for('static', filename='images/colorful/global/delete_icon.svg') }}" alt="delete" />
                            </button>
                            |
                            <!-- Edit Button with Bootstrap Modal -->
                            <button class="btn p-0 m-0 edit-button" data-itexmo-id="{{ texdata.itexmo_id }}">
                                <img class="table_icons" src="{{ url_for('static', filename='images/colorful/global/edit_icon.svg') }}" alt="edit" />
                            </button>
                            
                        </td>
                    </tr>
                    
                    <div class="modal fade" id="edititextMoModal{{ texdata.itexmo_id }}" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h2>ITEXMO API <br>  Credentials</h2>
                                    <button type="button" class="btn-close close-btn" data-bs-dismiss="modal" aria-label="Close"></button>
                                </div>
                                <div class="modal-body ">
                                    <form action="{{ url_for('notifs.edit_itexmo_route', itexmo_id=texdata.itexmo_id) }}" method="POST">
                                        <label for="itexmo_name">Api Name</label>
                                        <input type="text" id="itexmo_name{{ texdata.itexmo_id }}" name="itexmo_name" value="{{texdata.itexmo_name}}" required>
                    
                                        <label for="itexmo_url">URL</label>
                                        <input type="text" id="itexmo_url{{ texdata.itexmo_id }}" name="itexmo_url" value="{{texdata.itexmo_url}}" required>
                                        
                                        <label for="itexmo_email">Email</label>
                                        <input type="email" id="itexmo_email{{ texdata.itexmo_id }}" name="itexmo_email" value="{{texdata.itexmo_email}}" required>
                                        
                                        <div class="row-group">
                                            <div class="input-group content">
                                                <label for="itexmo_password">Password</label>
                                                <input type="password" id="itexmo_password{{ texdata.itexmo_id }}" name="itexmo_password" value="{{texdata.itexmo_password}}" required>
                                            </div>
                                            <div class="input-group content">
                                                <label for="itexmo_apicode">API Code</label>
                                                <input type="text" id="itexmo_apicode{{ texdata.itexmo_id }}" name="itexmo_apicode" value="{{texdata.itexmo_apicode}}" required>
                                            </div>
                                        </div>
                                        
                                        <label for="itexmo_contenttype">Content-Type</label>
                                        <input type="text" id="itexmo_contenttype{{ texdata.itexmo_id }}" name="itexmo_contenttype" value="{{texdata.itexmo_contenttype}}" required>
                                        
                                        <button type="submit" class="submit-btn">Submit</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                    {% endfor%}
                </tbody>
            </table>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        </div>
        </div>
    </div>
</div> 





