<!--HTML CODE FOR 'NOTIFS' BY: RYRUBIO-->
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Login - FO-X NotiFS</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}?v=1.0.2">
        <link rel="stylesheet" href="{{ url_for('static', filename='css/utils.css') }}?v=1.0.2">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
        
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=True) %}
            {% if messages %}
                <div class="flash-messages">
                    {% for category, message in messages %}
                        <div class="flash-message {{ category }}">{{ message }}</div>
                    {% endfor %}
                </div>
            {% endif %}
        {% endwith %}

        <div class="login-container login">
            <div class="login-left"></div>
            <div class="login-right">
                <h1 style="color:black;" class="title">{{ to_block_text(g.sys_settings.sys_name) }}</h1>
                <p class="subtitle">{{g.sys_settings.sys_app_name}}</p>
                <div class="form-container login">
                    <form class="login-form" action="{{ url_for('notifs.login') }}" method="POST">
                        <label for="username">🆄🆂🅴🆁🅽🅰🅼🅴</label>
                        <div class="input-group">
                            <img class="icon" src="{{ url_for('static', filename='images/tGLOBALs/user.png') }}?v=1.0.2" alt="user icon">
                            <input type="text" id="username" placeholder="Enter your username" name="username" required>
                        </div>
                        
                        <label for="password">🅿🅰🆂🆂🆆🅾🆁🅳</label>
                        <div class="input-group">
                            <img class="icon" src="{{ url_for('static', filename='images/tGLOBALs/padlock.png') }}?v=1.0.2" alt="padlock icon">
                            <input type="password" id="password" placeholder="Enter your password" name="password" required>
                            <input style="width:30px; margin-left:-50px; padding:0px; magrin: 0px; border:none;" type="checkbox" id="show-password" class="password-toggle" />
                        </div>
                        
                        <button type="submit" class="login-btn">Login</button>
                    </form>
                </div>
            </div>
        </div>

        
        {% assets "js_all" %}
            <script src="{{ ASSET_URL }}?v=1.0.2"></script>
        {% endassets %}
        <script>
            document.getElementById('show-password').addEventListener('change', function () {
                var passwordField = document.getElementById('password');
                if (this.checked) {
                    passwordField.type = 'text';  // Show password
                } else {
                    passwordField.type = 'password';  // Mask password
                }
            });
        </script>
    </body>

</html>
