{% extends "base.html" %}



{% block title %}
Reports - FO-X NotiFS
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
{% endblock %}



{% block content %}
<div class="row g-0 p-0 m-0">
    <div class="col-auto">
    </div>
    <div class="col">
        <div class="container-fluid main_container">
            <div class="row first_row {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                <div class="row service-row">
                    {% if user.is_authenticated and user.role_id in [1,3] %}
                        <div class="col service-col">
                            <div class="row">
                                <h1 class="number_headings">{{ "{:,}".format(total_credit_used) }}</h1>
                            </div>
                            <div class="row">
                                <h5>{{ to_block_text("Notifs")}} Credit/s used</h5>
                            </div>
                        </div>
                    {% endif %}
                    <div class="col service-col">
                        <div class="row">
                            <h1 class="number_headings">{{ "{:,}".format(user_credit) }}</h1>
                        </div>
                        <div class="row">
                            <h5>{{ to_block_text("User")}} Credit/s used</h5>
                        </div>
                    </div>
                    <div class="col service-col">
                        <div class="row">
                            <h1 class="number_headings">{{ "{:,}".format(total_credits_used) }}</h1>
                        </div>
                        <div class="row">
                            <h5>{{ to_block_text("Total")}} Credit/s used</h5>
                        </div>
                    </div>
                    <div class="col service-col">
                        <div class="row">
                            <h1 class="number_headings">{{ "{:,}".format(total_credits_remaining) }}</h1>
                        </div>
                        <div class="row">
                            <h5>{{ to_block_text("Remaining")}} Credit/s</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row second_row">
                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}"  >
                    <canvas id="creditPieChart"></canvas>
                </div>
                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    div col 2
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@4.4.0/dist/chart.umd.min.js"></script>

<script>
    // Ensure data is passed from Flask
    const divisionData = {{ division_data | tojson | safe }};
    console.log(divisionData)
    const labels = Object.keys(divisionData);
    const data = Object.values(divisionData);

    const ctx = document.getElementById('creditPieChart').getContext('2d');
    
    // Draw the chart
    new Chart(ctx, {
        type: 'pie',
        data: {
            labels: labels,
            datasets: [{
                label: 'Credit Usage',
                data: data,
                backgroundColor: [
                    '#007bff', '#28a745', '#ffc107', '#dc3545', '#17a2b8'
                ],
                borderWidth: 1
            }]
        },
        options: {
            responsive: true,
            plugins: {
                legend: {
                    position: 'top',
                }
            }
        }
    });
</script>


{% endblock %}
