{% extends "base.html" %}



{% block title %}
Reports - FO-X NotiFS
{% endblock %}
{% block css %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reports.css') }}">
{% endblock %}



{% block content %}
<div class="row g-0 p-0 m-0">
    <div class="col-auto">
    </div>
    <div class="col">
        <div class="container-fluid main_container">
            <div class="row first_row {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                <div class="row service-row">
                    <div class="col service-col">
                        <div class="row">
                            <h1 class="number_headings">{{user_credit}}</h1>
                        </div>
                        <div class="row">
                            <h5>{{ to_block_text("User")}} Credit/s used</h5>
                        </div>
                    </div>
                    <div class="col service-col">
                        <div class="row">
                            <h1>service col 2</h1>
                        </div>
                        <div class="row">
                            <h5>service col 2</h5>
                        </div>
                    </div>
                    <div class="col service-col">
                        <div class="row">
                            <h1>service col 3</h1>
                        </div>
                        <div class="row">
                            <h5>service col 3</h5>
                        </div>
                    </div>
                    <div class="col service-col">
                        <div class="row">
                            <h1>service col 4</h1>
                        </div>
                        <div class="row">
                            <h5>service col 4</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row second_row">
                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    div col 1
                </div>
                <div class="col div_col {{user.theme.theme_bg}} {{user.theme.theme_font}}">
                    div col 2
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}

{% endblock %}
