<!-- side_nav.html -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/side_nav.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/theme.css') }}">
<aside class="sidebar {{user.theme.theme_bg}} {{user.theme.theme_font}}">
    <div class="d-flex flex-column align-items-center">
        <h1 class="sidebar-subtitle text-center">🅽🅾🆃🅸🅵🆂</h1>
        <hr class="sidebar-line {{user.theme.theme_font}} mb-4">

        <!-- Sidebar Menu -->
        <nav class="menu w-100">
            <ul class="list-unstyled mb-0">
                {% if user.is_authenticated and user.role_id == 1 %}
                    <li class="{% if request.endpoint == 'notifs.admin' %}active{% endif %}">
                        <a class="{{user.theme.theme_font}}" href="{{ url_for('notifs.admin') }}">
                            <img class="nav_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/nav/admin_icon.svg') }}" alt="admin">
                            <span>Admin</span>
                        </a>
                    </li>
                {% endif %}

                <li class="{% if request.endpoint == 'notifs.home' %}active{% endif %}">
                    <a class="{{user.theme.theme_font}}" href="{{ url_for('notifs.home') }}">
                        <img class="nav_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/nav/home_icon.svg') }}" alt="home">
                        <span>Home</span>
                    </a>
                </li>

                <li class="{% if request.endpoint == 'notifs.reports' %}active{% endif %}">
                    <a class="{{user.theme.theme_font}}" href="{{ url_for('notifs.reports') }}">
                        <img class="nav_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/nav/reports_icon.svg') }}" alt="reports">
                        <span>Reports</span>
                    </a>
                </li>

                <li class="{% if request.endpoint == 'notifs.libraries' %}active{% endif %}">
                    <a class="{{user.theme.theme_font}}" href="{{ url_for('notifs.libraries') }}">
                        <img class="nav_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/nav/libraries_icon.svg') }}" alt="libraries">
                        <span>Libraries</span>
                    </a>
                </li>

                <li class="{% if request.endpoint == 'notifs.profile' %}active{% endif %}">
                    <a class="{{user.theme.theme_font}}" href="{{ url_for('notifs.profile') }}">
                        <img class="nav_icon" src="{{ url_for('static', filename='images/'+user.theme.theme_icon+'/nav/user_icon.svg') }}" alt="user">
                        <span>Profile</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</aside>
